[commit]
	gpgsign = true
[core]
	autocrlf = input
	excludesfile = $HOME/.dotfiles/.gitignore_global
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[init]
	autoSetupRemote = true
	defaultBranch = main
[push]
	followTags = true
[tag]
    gpgsign = true
[user]
	name = Michaël De Boey
	email = info@michaeldeboey.be
